
/* Base elements */

body {
    padding: 50px;
    margin: 0;
    height: 100%;

    --yellow: #c6d633;
    --black: #000000;
    --yellow-footer: rgba(198, 214, 51, 0.75);
    --yellow-translucent: rgba(198, 214, 51, 0.25);

    --dark: rgba(0, 0, 0, 0.25);
    --bright: rgba(255, 255, 255, 0.9);

    --logo-size: 60px;

    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.6)),
      url("/jonas-jacobsson-2xaF4TbjXT0-unsplash.jpg");

    background-size: auto;

    font-family: "Helvetica Neue", "Helvetica", "Arial";
}

h1 {
    text-transform: uppercase;
    font-size: 24pt;
}

/* Text selection */

::selection {
    background: var(--yellow); /* WebKit/Blink Browsers */
    color: var(--black);
}
::-moz-selection {
    background: var(--yellow); /* Gecko Browsers */
    color: var(--black);
}

/* The logo */

h1.callfordataspeakers {
    border-style: solid;
    border-color: var(--black);
    border-width: calc(0.05 * var(--logo-size));
    border-radius: var(--logo-size);
    background-color: var(--yellow);
    padding: calc(0.3 * var(--logo-size))
      calc(0 * var(--logo-size))
      calc(0.15 * var(--logo-size))
      calc(0.5 * var(--logo-size));
    display: block;
    width: calc(7 * var(--logo-size));
    height: calc(0.75 * var(--logo-size));
    font-size: calc(0.5 * var(--logo-size));
    text-align: center;
    justify-content: center;
    margin-bottom: calc(0.75 * var(--logo-size));
    text-transform: lowercase;
}

/* Shouty logo icon: */
h1.callfordataspeakers::after {
    position: relative;
    display: block;
    left: calc(-0.3 * var(--logo-size));
    top: calc(-0.8 * var(--logo-size));
    width: var(--logo-size);
    height: var(--logo-size);
    background-color: var(--yellow);
    content: "";
    background-image: url("/callfordataspeakers-logo.png");
    background-size: var(--logo-size) var(--logo-size);
    border-radius: 100%;
}

/* Clickable link in the logo header: */
h1.callfordataspeakers a {
    color: var(--black);
    text-decoration: none;
}

h1.callfordataspeakers a:hover {
    text-decoration: underline;
}

/* Menu tabs */

.menu-item {
    margin-left: 4em;
    display: inline-block;
    background-color: var(--yellow-translucent);
    border-style: solid solid solid solid;
    border-color: var(--yellow-translucent) var(--yellow-footer) var(--black) var(--yellow);
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Everything _except_ the first tab */
.menu-item ~ .menu-item {
    margin-left: inherit;
}

.menu-item.menu-item-selected {
    border-color: var(--black);
    background-color: var(--yellow);
    border-bottom-color: var(--yellow);
    box-shadow: 0 0px 30px 1px var(--yellow-footer);
    z-index: 100;
}

.menu-item a {
    display: inline-block;
    color: var(--yellow);
    text-decoration: none;
    padding: 1rem 2rem 0.5rem 2rem;
}

.menu-item.menu-item-selected a {
    color: var(--black);
}

.menu-item a:hover {
    text-decoration: underline;
}

.main {
    display: block;
    background: var(--bright);
    border-style: solid none solid none;
    border-width: 1px;
    border-color: var(--black);
    min-height: 100px;
    color: var(--black);
    font-size: 11pt;
    margin-left: -50px;
    margin-right: -50px;
    padding: 2em 2em 2em 50px;
}

/* Helper classes */

.display-none {
    display: none;
}

/* Fine print */

.fineprint {
    width: 100%;
    font-size: 9pt;
    color: #b0b0b0;
    background-color: var(--dark);
    margin-top: 0;
    margin-bottom: -50px;
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.fineprint #counter {
    font-weight: bold;
}

.fineprint a:any-link {
    color: var(--yellow);
    text-decoration: none;
}

.fineprint a:hover {
    text-decoration: underline;
/*  text-decoration-thickness: 1px; */
    text-decoration-color: var(--yellow);
}

/* Events table */

table#eventstbl {
    font-size: 10pt;
    text-align: left;
    padding: 1em;
    padding-bottom: 2em;
}

table#eventstbl tr:hover td {
    background-color: var(--yellow) !important;
}

table#eventstbl tr:hover td a {
    color: var(--black);
}

table#eventstbl th,
table#eventstbl td {
    min-width: 120px;
    padding-right: 1em;
    white-space: nowrap;
}

table#eventstbl th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #b0b0b0;
}

table#eventstbl a:any-link {
    color: var(--black);
}

/* Make the events table responsive by collapsing the columns on narrow browsers/screens: */
@media (max-width: 1000px) {
    .main-panel {
        top: 0;
        left: 0;
        width: 100%;
    }

    table#eventstbl {
        width: 100%;
    }

    table#eventstbl th {
        display: none;
    }

    table#eventstbl tr {
        display: block;
    }

    table#eventstbl td {
        display: block;
    }

    table#eventstbl tr:nth-child(odd) td {
        background-color: #f0f0f0;
    }

    table#eventstbl td:first-of-type {
        padding-top: 0.5em;
        border-top-style: solid;
        border-top-color: #c0c0c0;
        border-top-width: 1px;
    }

    table#eventstbl td:last-of-type {
        padding-bottom: 0.5em;
    }
}

/* Other */

code {
    margin: 1em;
    padding: 1em;
    display: block;
    background-color: #d0d0d0; /* #1E6B53; */
    color: var(--black);
    margin-bottom: 2em;
    border-radius: 4px;
}

code.powershell {
    background-color: rgb(1, 36, 86);
    color: #f0f0f0;
}

code a:any-link {
    color: inherit;
    text-decoration: none;
}

code a:hover {
    text-decoration: underline;
    text-decoration-color: var(--black);
}